@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<style>
  GameEndPanel {
  }

</style>
<root>
  <h1>Map Completed!</h1>
</root>

@code
{
  // [Parameter] public int Coins { get; set; } = 10;
  //
  // protected override int BuildHash() => System.HashCode.Combine( Coins );
}
