@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<style>
  GreedyPanel {
    .greedy-label {
      font-size: 30px;
      color: gold;
    }
  }

</style>
<root>
  <div class="greedy-label">Greedyz: @Coins</div>
</root>

@code
{
  [Parameter] public int Coins { get; set; } = 10;

  protected override int BuildHash() => System.HashCode.Combine( Coins );
}
