@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<style>
  MainMenuComponent {
    .title {
      font-size: 30px;
      color: white;
    }
  }

</style>
<root>
  <h1 class="title">Main Menu</h1>
</root>

@code
{
}
