@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<style>
  GreedyScoreComponent{
    .text {
      font-size: 100px;
    }
    .result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

  }


</style>
<root>
  <div class="result">
    <div class="text">You finished the map!</div>
    <GreedyPanel Coins="@Score"></GreedyPanel>
  </div>
</root>

@code
{
  [Property] public int Score { get; set; }

  protected override int BuildHash() => System.HashCode.Combine( Score );

  protected override void OnStart()
  {
    Score = Scene.GetSystem<GreedySystem>().GetGreedyAmount();
  }

}
