@using Sandbox.UI;
@inherits Panel

<style>
  GadgetSelectionDebugger{
    .gadget-selection-debugger{
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #154d53;
      position: absolute;
      top: 100px;
      left: 100px;
    }
    .gadget-selection-debugger h2{
      color: white;
    }
    .gadget-selection-debugger__gadget{
      pointer-events: all;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #1b8f9a;
    }

    .gadget-selection-debugger__gadget--selected{
      background-color: #a64dda;
    }

    .gadget-selection-debugger__gadget p{
      color: white;
    }

  }

</style>
<root>
  <div class="gadget-selection-debugger">
    <h2>Gadget Selection Debugger</h2>
    @foreach ( var gadget in GadgetHolder.GetGadgets() )
    {
      if ( _selectedGadget == gadget.GadgetName() )
      {
        <div class="gadget-selection-debugger__gadget gadget-selection-debugger__gadget--selected">
          <p>
            @gadget.GadgetName()
          </p>
        </div>
      }
      else
      {
        <div onclick="@(() => OnGadgetClick(gadget.GadgetName()))" class="gadget-selection-debugger__gadget">
          <p>
            @gadget.GadgetName()
          </p>
        </div>
      }
    }
  </div>
</root>

@code
{
  [Parameter] public GadgetHolder GadgetHolder { get; set; }
  private string _selectedGadget;

  protected override int BuildHash() => System.HashCode.Combine( _selectedGadget);

  private void OnGadgetClick(string gadgetName) => _selectedGadget = gadgetName;

}
